body, html {
    text-align: center;
    background-color: #CFD6EA;
    font-family: 'Inconsolata', monospace;
}

.container {

    max-width: 320px;
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.login {
    padding: 10px;
    margin: 1px 0 2px 0;

    border: none;
    border-radius: 4px;

    color: #FDFDFD;
    background-color: #6369D1 ;

    text-align: center;

    font-family: 'Inconsolata', monospace;
}


.login-btn{
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;

    background-color: #D5A021;

    border: none;
    border-radius: 4px;

    font-weight: bold;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}

#login-btn:hover {
    background-color: #264653;
}

#todo-container {
    margin: 100px auto 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

#todo-input {
    padding: 10px;
    margin: 1px 0 10px 0;

    height: 200px;

    font-size: 20px;
    text-align: center;

    border: none;
    background-color: #FFECC7;
    border-radius: 4px;
    font-family: 'Inconsolata', monospace;
}

#add-todo-btn {
    padding: 10px;

    border: none;
    background-color: #D5A021;
    border-radius: 4px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

li {
    margin: 5px 0 5px 0;
    padding: 10px 5px;
    background-color: #FDFDFD;
    box-shadow: 0 0 8px lightgrey;
    border-radius: 8px;
}

li p {
    margin: 10px;
}

#logout-btn{
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 10px;

    border: none;
    background-color: lightcoral;
    border-radius: 4px;

    font-family: 'Inconsolata', monospace;
}

::placeholder {
    color: #FDFDFD;
    font-family: 'Inconsolata', monospace;
}



